/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
* Filename:     _variables.scss
* Description:  Main project variables
* Author:       Christophe DO OUTEIRO
*** INDEX: ************************************************************
*
* _breakpoints
* _colors
* _fonts
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* _breakpoints
===========================================*/
$mobile-small:	240px;
$mobile-large:	320px;
$tablet-small:	480px;
$tablet-large:	768px;
$screen-small:	1024px;
$screen-large:	1400px;
$screen-larger: 1800px;

@mixin media($point) {
  @if $point == 'mobile-small' {
    @media (max-width: $mobile-small) { @content ; }
  }
  @else if $point == 'mobile-large' {
    @media (max-width: $mobile-large) { @content ; }
  }
  @else if $point == 'tablet-small' {
    @media (max-width: $tablet-small) { @content ; }
  }
  @else if $point == 'tablet-large' {
    @media (max-width: $tablet-large)  { @content ; }
  }
  @else if $point == 'screen-small' {
    @media (max-width: $screen-small)  { @content ; }
  }
  @else if $point == 'screen-large' {
    @media (max-width: $screen-large)  { @content ; }
  }
  @else if $point == 'screen-larger' {
      @media (max-width: $screen-larger)  { @content ; }
  }
}

/* _colors
===========================================*/
$white: #f5f6fa;
$lightgray: darken($white, 3%);
$blue: #1e3799;
$indigo: #6574cd;
$purple: #574b90;
$pink: #f78fb3;
$red: #e3342f;
$orange: #ffaf40;
$yellow: #f5cd79;
$green: #21b989;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$gray: #596275;
$black: #303952;
$pureBlack: #000;
$pureWhite: #FFF;

$primaryColor: #006f8e;
$secondaryColor: #ced7dd;

$color-list: (
    ("white", $white),
    ("lightgray", $lightgray),
    ("blue", $blue),
    ("indigo", $indigo),
    ("purple", $purple),
    ("pink", $pink),
    ("red", $red),
    ("orange", $orange),
    ("yellow", $yellow),
    ("green", $green),
    ("teal", $teal),
    ("cyan", $cyan),
    ("gray", $gray),
    ("black", $black),
    ("primary", $primaryColor),
    ("secondary", $secondaryColor)
);

@each $color, $value in $color-list {
    .color-#{$color} { color: $value; }
    .bg-#{$color} { background-color: $value !important; fill: $value !important; }
    .bg-gradient-#{$color} { background-color: $value; background-image: linear-gradient(0deg, $value 0%, darken($value, 10%) 100%); }

}

/* _fonts
===========================================*/
$defaultFont: 'Roboto', sans-serif;
$titleFont: 'Abril Fatface', cursive;
