/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
* Filename:     _variables.scss
* Description:  Main project variables
* Author:       Christophe DO OUTEIRO
*** INDEX: ************************************************************
*
* _breakpoints
* _colors
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* _breakpoints
===========================================*/
$mobile-small:	240px;
$mobile-large:	320px;
$tablet-small:	480px;
$tablet-large:	768px;
$screen-small:	1024px;
$screen-large:	1280px;

@mixin media($point) {
  @if $point == 'mobile-small' {
    @media (max-width: $mobile-small) { @content ; }
  }
  @else if $point == 'mobile-large' {
    @media (max-width: $mobile-large) { @content ; }
  }
  @else if $point == 'tablet-small' {
    @media (max-width: $tablet-small) { @content ; }
  }
  @else if $point == 'tablet-large' {
    @media (max-width: $tablet-large)  { @content ; }
  }
  @else if $point == 'screen-small' {
    @media (max-width: $screen-small)  { @content ; }
  }
  @else if $point == 'screen-large' {
    @media (max-width: $screen-large)  { @content ; }
  }
}

/* _colors
===========================================*/
$white: #ecf0f1;
$lightgray: #d2d7d3;
$metal : #718093;
$lightmetal: rgba(113,128,147,0.1);
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #20C20E;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$gray: #2d3436;
$black: #080808;

$color-list: (
                (white, $white),
                (lightgray, $lightgray),
                (blue, $blue),
                (indigo, $indigo),
                (purple, $purple),
                (pink, $pink),
                (red, $red),
                (orange, $orange),
                (yellow, $yellow),
                (green, $green),
                (teal, $teal),
                (cyan, $cyan),
                (gray, $gray),
                (black, $black),
);

@each $color, $value in $color-list {
  .color-#{$color} { color: $value !important; }
  .bg-#{$color} { background-color: $value !important; fill: $value !important;  }
}

