html, body {
    background-color: $white;
    color: $black;
    font-family: 'M PLUS 1p', sans-serif;
    // font-family: $defaultFont;
    font-weight: 200;
    font-size: 16px;
    margin: 0;
    position: relative;
    overflow-x: hidden;
}

.center { text-align: center; }
.left { text-align: left;}
.right { text-align: right; }
.justify { text-align: justify; }

.opacity-0 { opacity: 0; }
.opacity-1 { opacity: 1; }

.display-none { display: none; }
.display-block { display: block; }
