.form {
    white-space: nowrap;
}

label.label {
    display: block;
    font-weight: bold;
    @include font-size(22px);
    padding: 0 10px 5px;
}

.form-group {
    white-space: normal;
    padding: 15px 0;
    .form-group {
        padding: 0;
        margin: 10px;
    }
}

.form-group--6 {
    display: inline-block;
    width: 50%;
}
