@import url(https://fonts.googleapis.com/css?family=VT323&display=swap);@import url(https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap);@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap);/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
* Filename:     _reset.scss
* Description:  reset default browsers styles
* Author:       Christophe DO OUTEIRO
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

*:focus {
  -webkit-appearance: none;
  outline: none;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
* Filename:     _mixins.scss
* Description:  The purpose of this library is to facilitate the use of CSS
* Author:       Christophe DO OUTEIRO
*** INDEX: ************************************************************
*
* _browser-prefix		($property, $value)
* _align-items			($value)
* _animation			($properties)
* _blur					($blur: 1px)
* _border-radius		($radius: 3px)
* _box-shadow			($x: 0, $y: 0, $blur: 1px, $color: rgba(0,0,0,.4), $inset: "")
* _box-sizing			($type: border-box)
* _display-flex
* _double-border		($colorOne, $colorTwo, $sizeOne: 1px, $sizeTwo: 1px, $radius: 0)
* _flex-grow			($number : 1)
* _flex-wrap			($value)
* _font-size			($size)
* _image-2x				($url, $width, $height)
* _justify-content		($value)
* _keyframes			($animation-name)
* _linear-gradient		($direction, $start-color, $start-position, $end-color, $end-position)
* _opacity				($opacity: 0.5)
* _transform			($params)
* _transition			($properties)
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* _align-items
===========================================*/

/* _animation
===========================================*/

/* _blur
===========================================*/

/* _border-radius
===========================================*/

/* _box-shadow
===========================================*/

/* _box-sizing
===========================================*/

/* _display-flex
===========================================*/

/* _double-border
===========================================*/

/* _flex-grow
===========================================*/

/* _flex-wrap
===========================================*/

/* _font-size
===========================================*/

/* _image-2x
===========================================*/

/* _justify-content
===========================================*/

/* _keyframes
===========================================*/

/* linear-gradient
===========================================*/

/* _multiLineEllipsis
===========================================*/

/* _opacity
===========================================*/

/* _transform
===========================================*/

/* _transition
===========================================*/

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
* Filename:     _variables.scss
* Description:  Main project variables
* Author:       Christophe DO OUTEIRO
*** INDEX: ************************************************************
*
* _breakpoints
* _colors
* _fonts
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* _breakpoints
===========================================*/

/* _colors
===========================================*/

.color-white {
  color: #ecf0f1 !important;
}

.bg-white {
  background-color: #ecf0f1 !important;
  fill: #ecf0f1 !important;
}

.color-lightgray {
  color: #d2d7d3 !important;
}

.bg-lightgray {
  background-color: #d2d7d3 !important;
  fill: #d2d7d3 !important;
}

.color-blue {
  color: #3490dc !important;
}

.bg-blue {
  background-color: #3490dc !important;
  fill: #3490dc !important;
}

.color-indigo {
  color: #6574cd !important;
}

.bg-indigo {
  background-color: #6574cd !important;
  fill: #6574cd !important;
}

.color-purple {
  color: #9561e2 !important;
}

.bg-purple {
  background-color: #9561e2 !important;
  fill: #9561e2 !important;
}

.color-pink {
  color: #f66d9b !important;
}

.bg-pink {
  background-color: #f66d9b !important;
  fill: #f66d9b !important;
}

.color-red {
  color: #e3342f !important;
}

.bg-red {
  background-color: #e3342f !important;
  fill: #e3342f !important;
}

.color-orange {
  color: #f6993f !important;
}

.bg-orange {
  background-color: #f6993f !important;
  fill: #f6993f !important;
}

.color-yellow {
  color: #f6e58d !important;
}

.bg-yellow {
  background-color: #f6e58d !important;
  fill: #f6e58d !important;
}

.color-green {
  color: #21b989 !important;
}

.bg-green {
  background-color: #21b989 !important;
  fill: #21b989 !important;
}

.color-teal {
  color: #4dc0b5 !important;
}

.bg-teal {
  background-color: #4dc0b5 !important;
  fill: #4dc0b5 !important;
}

.color-cyan {
  color: #6cb2eb !important;
}

.bg-cyan {
  background-color: #6cb2eb !important;
  fill: #6cb2eb !important;
}

.color-gray {
  color: #718093 !important;
}

.bg-gray {
  background-color: #718093 !important;
  fill: #718093 !important;
}

.color-black {
  color: #000 !important;
}

.bg-black {
  background-color: #000 !important;
  fill: #000 !important;
}

/* _fonts
===========================================*/

html,
body {
  background-color: #ecf0f1;
  color: #000;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 200;
  font-size: 16px;
  margin: 0;
  position: relative;
}

.alert {
  max-width: 1024px;
  margin: 0 auto;
  padding: 30px 40px;
  box-sizing: border-box;
  background-color: #21b989;
  background-image: linear-gradient(135deg, #21b989 0%, #16A085 100%);
  border-radius: 5px;
}

.alert__text {
  display: inline-block;
  width: 50%;
  vertical-align: middle;
  text-align: left;
  font-size: 32px;
  font-size: 2rem;
  line-height: 42px;
}

.alert__title {
  display: inline-block;
  width: 50%;
  vertical-align: middle;
  text-align: right;
  font-family: "Abril Fatface", cursive;
  font-size: 52px;
  font-size: 3.25rem;
}

/* _button
===========================================*/

.buttons {
  display: inline-block;
}

.button {
  background-color: #ecf0f1;
  color: #000;
  padding: 3px 5px;
  margin-right: 5px;
  border-radius: 3px;
  display: inline-block;
}

.link {
  color: #000;
}

.link--underline {
  text-decoration: underline;
  -webkit-text-decoration-color: rgba(0, 0, 0, 0.5);
          text-decoration-color: rgba(0, 0, 0, 0.5);
}

.link--underline:hover {
  -webkit-text-decoration-color: #000;
          text-decoration-color: #000;
}

.map-row {
  background-color: #21b989;
  background-image: linear-gradient(135deg, #21b989 0%, #198e69 100%);
  position: relative;
  width: 100%;
}

.map-col {
  display: inline-block;
  width: 50%;
  position: relative;
  vertical-align: middle;
}

@media (max-width: 1024px) {
  .map-col {
    display: block;
    width: 100%;
  }
}

.map-title {
  font-family: "Abril Fatface", cursive;
  color: #ecf0f1;
  font-size: 42px;
  font-size: 2.625rem;
  line-height: 50px;
  padding-left: 80px;
  width: 80%;
  margin: 0 auto;
  max-width: 800px;
  box-sizing: border-box;
  text-align: right;
}

.map-title span {
  color: #f6e58d;
}

@media (max-width: 1024px) {
  .map-title {
    padding: 70px 0 20px;
    text-align: center;
    font-size: 28px;
    font-size: 1.75rem;
    line-height: 36px;
  }
}

.map-container {
  width: 100%;
  padding: 33% 0;
  overflow: hidden;
}

.map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.map-svg {
  position: absolute;
  top: 0;
  left: -5%;
  width: 100%;
  height: auto;
}

@media (max-width: 1024px) {
  .map-svg {
    top: 0;
    left: 0;
    width: 100%;
  }
}

.map-svg path {
  fill: #ecf0f1;
  fill-opacity: 1;
  stroke: #ecf0f1;
  stroke-opacity: 1;
  stroke-width: 1;
  transition: 0.6s fill;
}

.map-svg path#FR,
.map-svg path#BR,
.map-svg path#PT {
  fill: #f6e58d;
  cursor: pointer;
}

.map-marker {
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.map-marker__controller {
  display: none;
}

.map-marker__button {
  background-color: #718093;
  color: #ecf0f1;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: block;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition-duration: 0.4s;
}

.map-marker__button .fa-times {
  display: none;
}

.map-marker__controller:checked ~ .map-marker__button {
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  font-size: 1.125rem;
  text-align: center;
  vertical-align: middle;
}

.map-marker__controller:checked ~ .map-marker__button .fa-times {
  display: inline-block;
}

.map-marker__item {
  visibility: hidden;
  opacity: 0;
  background-color: #3490dc;
  width: 1px;
  height: 1px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: width 0.4s linear, height 0.4s linear, transform 0.4s linear;
}

.map-marker__item img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.map-marker__controller:checked ~ .map-marker__item {
  visibility: visible;
  opacity: 1;
  width: 50px;
  height: 50px;
}

.map-marker__controller:checked ~ .map-marker__item:nth-of-type(1) {
  transform: translate(-50%, -150%);
}

.map-marker__controller:checked ~ .map-marker__item:nth-of-type(2) {
  transform: translate(50%, -50%);
}

.map-marker__controller:checked ~ .map-marker__item:nth-of-type(3) {
  transform: translate(-50%, 50%);
}

.map-marker__controller:checked ~ .map-marker__item:nth-of-type(4) {
  transform: translate(-150%, -50%);
}

.map-marker--france {
  top: 47.2%;
  left: 42.6%;
  transform: translate(-42.3%, -46.8%);
}

.map-marker--brazil {
  top: 79.3%;
  left: 30%;
  transform: translate(-30%, -78%);
}

.map-marker--portugal {
  top: 52%;
  left: 39.3%;
  transform: translate(-39.4%, -51.2%);
}

.modal-container {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.5);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}

.modal-container:target {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  width: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  background: #ffffff;
  color: #333333;
}

.modal__close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}

.modal__close:hover {
  color: #000;
}

/* Specific modals */

.modal--match__compare {
  padding: 20px 0;
}

.modal--match__compare__love,
.modal--match__compare__hate {
  display: inline-block;
  width: 50%;
  box-sizing: border-box;
  vertical-align: top;
}

.modal--match__compare__love .title,
.modal--match__compare__hate .title {
  padding-bottom: 10px;
}

.modal--match__compare__love ul,
.modal--match__compare__hate ul {
  list-style-position: inside;
  list-style-type: disc;
}

.modal--match__compare__love ul li,
.modal--match__compare__hate ul li {
  padding: 5px 5px;
}

.modal--match__compare__love .title {
  color: #21b989;
}

.modal--match__compare__hate .title {
  color: #f6993f;
}

/* _button-theme
===========================================*/

.button-theme {
  display: inline-block;
  font-size: 20px;
  font-size: 1.25rem;
  padding: 5px 5px;
  background-color: #ecf0f1;
  color: #718093;
  border-right: 2px solid #d2d7d3;
  opacity: 0.5;
}

.button-theme:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.button-theme:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-right-width: 0;
}

.button-theme:hover,
.button-theme--selected {
  background-color: #ecf0f1;
  color: #718093;
  transition: 0.3s ease-in-out;
  opacity: 0.9;
}

/* _button-flag
===========================================*/

.button-flag {
  display: inline-block;
  text-decoration: none;
  opacity: 0.5;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  border-right: 2px solid #d2d7d3;
}

.button-flag img {
  height: 30px;
  width: auto;
  vertical-align: middle;
}

.button-flag:first-child img {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.button-flag:last-child {
  border-width: 0;
}

.button-flag:last-child img {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.button-flag:hover,
.button-flag--selected {
  opacity: 0.9;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.tags {
  display: flex;
  flex-flow: row wrap;
}

.tags--flex .tag {
  flex: 1 auto;
  text-align: center;
}

.tag {
  display: inline-block;
  padding: 3px 5px;
  background-color: #ecf0f1;
  color: #718093;
  font-size: 15px;
  font-size: 0.9375rem;
  vertical-align: middle;
  border-width: 1px;
  border-style: dashed;
  margin: 4px;
  border-radius: 3px;
  font-weight: 500;
}

.tag i {
  font-size: 15px;
  font-size: 0.9375rem;
  padding-right: 5px;
}

.tag-title {
  display: inline-block;
  padding: 3px 5px 3px 0;
  font-size: 13px;
  font-size: 0.8125rem;
  font-weight: bold;
  line-height: 14px;
  vertical-align: middle;
  border: 5px solid transparent;
  border-left-width: 0px;
}

.team {
  background-color: #718093;
  position: relative;
}

.team__member {
  width: 250px;
  padding: 10px;
  box-sizing: border-box;
  margin: 10px;
  display: inline-block;
  background-color: #ecf0f1;
  text-align: center;
  border-radius: 5px;
}

.team__member__photo {
  display: block;
  position: relative;
  margin: 0 auto 5px;
  width: 70px;
  height: 70px;
  background: linear-gradient(135deg, #21b989 0%, #16A085 100%);
  border-radius: 50%;
}

.team__member__photo img {
  margin: 5px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.team__member__name {
  font-family: "Abril Fatface", cursive;
  padding-bottom: 5px;
}

.team__member__role {
  padding-bottom: 5px;
}

.team__member__location {
  padding-bottom: 5px;
}

.title {
  font-family: "Abril Fatface", cursive;
  font-size: 32px;
  font-size: 2rem;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
* Filename:     _home.scss
* Description:  Home page specific CSS
* Author:       Christophe DO OUTEIRO
*** INDEX: ************************************************************
*
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.home__row {
  padding: 30px;
}

.footer {
  text-align: center;
  padding: 15px;
  max-width: 1280px;
  margin: 0 auto;
}

.footer__links {
  padding-bottom: 10px;
}

.footer__links li {
  display: inline-block;
  padding: 5px 10px;
}

.header {
  padding: 20px 80px 10px;
  margin: 0 auto;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  z-index: 1000;
}

@media (max-width: 1024px) {
  .header {
    padding: 10px 15px;
    border-bottom: 2px solid #ecf0f1;
  }
}

.header__logo {
  display: inline-block;
  width: 50%;
  text-align: left;
  vertical-align: middle;
  font-family: "Abril Fatface", cursive;
  color: #f6e58d;
  font-size: 36px;
  font-size: 2.25rem;
}

.header__logo span {
  color: #ecf0f1;
}

.header__nav {
  display: inline-block;
  width: 50%;
  text-align: right;
  vertical-align: middle;
}

.header__nav__item {
  display: inline-block;
  vertical-align: bottom;
  padding-left: 10px;
}

body.night {
  background-color: #000;
  color: #ecf0f1;
}

body.night .link {
  color: #ecf0f1;
}

body.night .link--underline {
  -webkit-text-decoration-color: rgba(236, 240, 241, 0.5);
          text-decoration-color: rgba(236, 240, 241, 0.5);
}

body.night .link--underline:hover {
  -webkit-text-decoration-color: #ecf0f1;
          text-decoration-color: #ecf0f1;
}

body.night .header__logo {
  color: #f6e58d;
}

body.night .header__logo span {
  color: #718093;
}

body.night .map-title {
  color: #718093;
}

body.night .map-svg path {
  fill: #718093;
  stroke: #718093;
}

