@import url(https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap);@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap);/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
* Filename:     _reset.scss
* Description:  reset default browsers styles
* Author:       Christophe DO OUTEIRO
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

*:focus {
  -webkit-appearance: none;
  outline: none;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
* Filename:     _mixins.scss
* Description:  The purpose of this library is to facilitate the use of CSS
* Author:       Christophe DO OUTEIRO
*** INDEX: ************************************************************
*
* _browser-prefix		($property, $value)
* _align-items			($value)
* _animation			($properties)
* _blur					($blur: 1px)
* _border-radius		($radius: 3px)
* _box-shadow			($x: 0, $y: 0, $blur: 1px, $color: rgba(0,0,0,.4), $inset: "")
* _box-sizing			($type: border-box)
* _display-flex
* _double-border		($colorOne, $colorTwo, $sizeOne: 1px, $sizeTwo: 1px, $radius: 0)
* _flex-grow			($number : 1)
* _flex-wrap			($value)
* _font-size			($size)
* _image-2x				($url, $width, $height)
* _justify-content		($value)
* _keyframes			($animation-name)
* _linear-gradient		($direction, $start-color, $start-position, $end-color, $end-position)
* _opacity				($opacity: 0.5)
* _transform			($params)
* _transition			($properties)
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* _align-items
===========================================*/
/* _animation
===========================================*/
/* _blur
===========================================*/
/* _border-radius
===========================================*/
/* _box-shadow
===========================================*/
/* _box-sizing
===========================================*/
/* _display-flex
===========================================*/
/* _double-border
===========================================*/
/* _flex-grow
===========================================*/
/* _flex-wrap
===========================================*/
/* _font-size
===========================================*/
/* _image-2x
===========================================*/
/* _justify-content
===========================================*/
/* _keyframes
===========================================*/
/* linear-gradient
===========================================*/
/* _multiLineEllipsis
===========================================*/
/* _opacity
===========================================*/
/* _transform
===========================================*/
/* _transition
===========================================*/
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
* Filename:     _variables.scss
* Description:  Main project variables
* Author:       Christophe DO OUTEIRO
*** INDEX: ************************************************************
*
* _breakpoints
* _colors
* _fonts
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* _breakpoints
===========================================*/
/* _colors
===========================================*/
.color-white {
  color: #f5f6fa;
}

.bg-white {
  background-color: #f5f6fa;
  fill: #f5f6fa;
}

.bg-gradient-white {
  background-color: #f5f6fa;
  background-image: linear-gradient(0deg, #f5f6fa 0%, #d3d7e9 100%);
}

.color-lightgray {
  color: #d2d7d3;
}

.bg-lightgray {
  background-color: #d2d7d3;
  fill: #d2d7d3;
}

.bg-gradient-lightgray {
  background-color: #d2d7d3;
  background-image: linear-gradient(0deg, #d2d7d3 0%, #b7bfb9 100%);
}

.color-blue {
  color: #778beb;
}

.bg-blue {
  background-color: #778beb;
  fill: #778beb;
}

.bg-gradient-blue {
  background-color: #778beb;
  background-image: linear-gradient(0deg, #778beb 0%, #4b65e4 100%);
}

.color-indigo {
  color: #6574cd;
}

.bg-indigo {
  background-color: #6574cd;
  fill: #6574cd;
}

.bg-gradient-indigo {
  background-color: #6574cd;
  background-image: linear-gradient(0deg, #6574cd 0%, #3f51c1 100%);
}

.color-purple {
  color: #786fa6;
}

.bg-purple {
  background-color: #786fa6;
  fill: #786fa6;
}

.bg-gradient-purple {
  background-color: #786fa6;
  background-image: linear-gradient(0deg, #786fa6 0%, #5f568c 100%);
}

.color-pink {
  color: #f8a5c2;
}

.bg-pink {
  background-color: #f8a5c2;
  fill: #f8a5c2;
}

.bg-gradient-pink {
  background-color: #f8a5c2;
  background-image: linear-gradient(0deg, #f8a5c2 0%, #f476a2 100%);
}

.color-red {
  color: #e3342f;
}

.bg-red {
  background-color: #e3342f;
  fill: #e3342f;
}

.bg-gradient-red {
  background-color: #e3342f;
  background-image: linear-gradient(0deg, #e3342f 0%, #c51f1a 100%);
}

.color-orange {
  color: #f3a683;
}

.bg-orange {
  background-color: #f3a683;
  fill: #f3a683;
}

.bg-gradient-orange {
  background-color: #f3a683;
  background-image: linear-gradient(0deg, #f3a683 0%, #ef8555 100%);
}

.color-yellow {
  color: #f6e58d;
}

.bg-yellow {
  background-color: #f6e58d;
  fill: #f6e58d;
}

.bg-gradient-yellow {
  background-color: #f6e58d;
  background-image: linear-gradient(0deg, #f6e58d 0%, #f2da5e 100%);
}

.color-green {
  color: #21b989;
}

.bg-green {
  background-color: #21b989;
  fill: #21b989;
}

.bg-gradient-green {
  background-color: #21b989;
  background-image: linear-gradient(0deg, #21b989 0%, #198e69 100%);
}

.color-teal {
  color: #4dc0b5;
}

.bg-teal {
  background-color: #4dc0b5;
  fill: #4dc0b5;
}

.bg-gradient-teal {
  background-color: #4dc0b5;
  background-image: linear-gradient(0deg, #4dc0b5 0%, #39a197 100%);
}

.color-cyan {
  color: #6cb2eb;
}

.bg-cyan {
  background-color: #6cb2eb;
  fill: #6cb2eb;
}

.bg-gradient-cyan {
  background-color: #6cb2eb;
  background-image: linear-gradient(0deg, #6cb2eb 0%, #3f9ae5 100%);
}

.color-gray {
  color: #718093;
}

.bg-gray {
  background-color: #718093;
  fill: #718093;
}

.bg-gradient-gray {
  background-color: #718093;
  background-image: linear-gradient(0deg, #718093 0%, #5a6777 100%);
}

.color-black {
  color: #1e272e;
}

.bg-black {
  background-color: #1e272e;
  fill: #1e272e;
}

.bg-gradient-black {
  background-color: #1e272e;
  background-image: linear-gradient(0deg, #1e272e 0%, #0a0d0f 100%);
}

.color-primary {
  color: #6574cd;
}

.bg-primary {
  background-color: #6574cd;
  fill: #6574cd;
}

.bg-gradient-primary {
  background-color: #6574cd;
  background-image: linear-gradient(0deg, #6574cd 0%, #3f51c1 100%);
}

.color-secondary {
  color: #f8a5c2;
}

.bg-secondary {
  background-color: #f8a5c2;
  fill: #f8a5c2;
}

.bg-gradient-secondary {
  background-color: #f8a5c2;
  background-image: linear-gradient(0deg, #f8a5c2 0%, #f476a2 100%);
}

/* _fonts
===========================================*/
html, body {
  background-color: #f5f6fa;
  color: #1e272e;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 16px;
  margin: 0;
  position: relative;
}

/* Sets the dimensions of the entire scrollbar */
html::-webkit-scrollbar {
  width: 30px;
  height: 30px;
}

/* The grabbable scrollbar button  */
html::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #6574cd, #f8a5c2);
  border-radius: 30px;
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}

/* The vertical scrollbar background */
html::-webkit-scrollbar-track {
  background: linear-gradient(90deg, #201c29, #201c29 1px, #100e17 0, #100e17);
}

.opacity-0 {
  opacity: 0;
}

.display-none {
  display: none;
}

.alert {
  max-width: 1130px;
  margin: 0 auto;
  padding: 30px 40px;
  box-sizing: border-box;
  background-color: #21b989;
  background-image: linear-gradient(135deg, #21b989 0%, #16A085 100%);
  border-radius: 20px;
}

.alert__title {
  font-family: "Abril Fatface", cursive;
  font-size: 42px;
  font-size: 2.625rem;
  line-height: 50px;
}

.alert__text {
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 32px;
}

/* _button
===========================================*/
.buttons {
  display: inline-block;
}

.button {
  background-color: #f5f6fa;
  color: #1e272e;
  padding: 3px 5px;
  margin-right: 5px;
  border-radius: 3px;
  display: inline-block;
}

.clients {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.client {
  padding: 20px;
}
.client img {
  width: auto;
  height: 45px;
  -webkit-filter: brightness(0);
          filter: brightness(0);
}

.contact {
  max-width: 1150px;
  margin: 0 auto;
}

.contact__form {
  background-color: #d2d7d3;
  position: relative;
  z-index: 2;
  margin: 10px;
  padding: 10px;
}

.contact__letter-box {
  width: 100%;
  height: 600px;
  border-radius: 10px;
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.3s ease-out;
}

.contact__letter-box__front {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  z-index: 999999;
}
.contact__letter-box__front:before, .contact__letter-box__front:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
}
.contact__letter-box__front:before {
  border-right: 1150px solid transparent;
  border-bottom: 600px solid #4a6cc7;
}
.contact__letter-box__front:after {
  border-left: 1150px solid transparent;
  border-bottom: 600px solid #3e60b6;
}

.contact__letter-box__top {
  position: absolute;
  width: 100%;
  height: 58%;
  border-radius: 10px;
  overflow: hidden;
  z-index: 99999;
  transform-style: preserve-3d;
  transform-origin: center bottom;
  transform: translateY(-98%);
  transform: translateY(-98%) rotateX(175deg);
  transition: all 0.6s 0.3s ease-out;
}
.contact__letter-box__top:before {
  content: "";
  width: 0;
  height: 0;
  border-right: 575px solid transparent;
  border-left: 575px solid transparent;
  border-bottom: 330px solid #284083;
}

.contact__letter-box--open .contact__letter-box__top {
  transform: translateY(-99%);
}

.contact__letter-box--close .contact__letter-box__top {
  transform: translateY(-100%) rotateX(-175deg);
}

.link {
  color: #1e272e;
}

.link--underline {
  text-decoration: underline;
  -webkit-text-decoration-color: rgba(30, 39, 46, 0.5);
          text-decoration-color: rgba(30, 39, 46, 0.5);
}
.link--underline:hover {
  -webkit-text-decoration-color: #1e272e;
          text-decoration-color: #1e272e;
}

.map-row {
  position: relative;
  width: 100%;
}

.map-col {
  display: inline-block;
  width: 50%;
  position: relative;
  vertical-align: middle;
}
@media (max-width: 1024px) {
  .map-col {
    display: block;
    width: 100%;
    margin: 0 auto;
  }
}

.map-col--title {
  width: 35%;
}
@media (max-width: 1800px) {
  .map-col--title {
    width: 40%;
  }
}
@media (max-width: 1400px) {
  .map-col--title {
    width: 50%;
  }
}
@media (max-width: 1024px) {
  .map-col--title {
    width: 50%;
    padding: 80px 0 35px;
  }
}
@media (max-width: 768px) {
  .map-col--title {
    width: 80%;
  }
}
@media (max-width: 480px) {
  .map-col--title {
    width: 100%;
  }
}

.map-title {
  font-family: "Abril Fatface", cursive;
  color: #f5f6fa;
  font-size: 38px;
  font-size: 2.375rem;
  line-height: 48px;
  box-sizing: border-box;
  text-align: right;
  padding-right: 40px;
}
.map-title span {
  color: #f8a5c2;
}
@media (max-width: 1800px) {
  .map-title {
    font-size: 32px;
    font-size: 2rem;
    line-height: 44px;
  }
}
@media (max-width: 1400px) {
  .map-title {
    font-size: 28px;
    font-size: 1.75rem;
    line-height: 40px;
  }
}
@media (max-width: 1024px) {
  .map-title {
    text-align: center;
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 36px;
    padding-right: 0;
  }
}

.map-container {
  width: 100%;
  padding: 33% 0;
  overflow: hidden;
}

.map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.map-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
@media (max-width: 1024px) {
  .map-svg {
    top: 0;
    left: 0;
    width: 100%;
  }
}
.map-svg path {
  fill: rgba(245, 246, 250, 0.7);
  fill-opacity: 1;
  stroke: #f5f6fa;
  stroke-opacity: 1;
  stroke-width: 1;
  transition: 0.6s fill;
}
.map-marker {
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.map-marker__controller {
  display: none;
}
.map-marker__button {
  background-color: #718093;
  color: #718093;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  display: block;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition-duration: 0.4s;
  z-index: 2;
}
.map-marker__button .fa-times {
  display: none;
}
.map-marker__button.pulse:after {
  box-shadow: 0 0 1px 2px #718093;
}
.map-marker__controller:checked ~ .map-marker__button {
  width: 24px;
  height: 24px;
  background-color: #f8a5c2;
  border: 2px solid #718093;
  line-height: 24px;
  font-size: 14px;
  font-size: 0.875rem;
  text-align: center;
  vertical-align: middle;
}
.map-marker__controller:checked ~ .map-marker__button .fa-times {
  display: inline-block;
}
.map-marker__item {
  visibility: hidden;
  opacity: 0;
  width: 1px;
  height: 1px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease-in-out;
}
.map-marker__item img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.map-marker__controller:checked ~ .map-marker__item {
  visibility: visible;
  opacity: 1;
  width: 50px;
  height: 50px;
}
.map-marker__controller:checked ~ .map-marker__item:nth-of-type(1) {
  transform: translate(-50%, -150%);
}
.map-marker__controller:checked ~ .map-marker__item:nth-of-type(2) {
  transform: translate(50%, -50%);
}
.map-marker__controller:checked ~ .map-marker__item:nth-of-type(3) {
  transform: translate(-50%, 50%);
}
.map-marker__controller:checked ~ .map-marker__item:nth-of-type(4) {
  transform: translate(-150%, -50%);
}
.map-marker__controller:checked ~ .pulse:after {
  display: none;
}

.map-pulse:after {
  content: "";
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 20px;
  width: 20px;
  margin: -10px 0 0 -10px;
  -webkit-animation: map-pulse 1s ease-out;
          animation: map-pulse 1s ease-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  box-shadow: 0 0 1px 2px #718093;
  -webkit-animation-delay: 1.1s;
          animation-delay: 1.1s;
}

@-webkit-keyframes map-pulse {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  50% {
    opacity: 1;
    -ms-filter: none;
    -webkit-filter: none;
            filter: none;
  }
  100% {
    transform: scale(1.2, 1.2);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}

@keyframes map-pulse {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  50% {
    opacity: 1;
    -ms-filter: none;
    -webkit-filter: none;
            filter: none;
  }
  100% {
    transform: scale(1.2, 1.2);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
.modal-container {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.5);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}
.modal-container:target {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  width: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  background: #ffffff;
  color: #333333;
}

.modal__close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}
.modal__close:hover {
  color: #000;
}

/* Specific modals */
.modal--match__compare {
  padding: 20px 0;
}

.modal--match__compare__love, .modal--match__compare__hate {
  box-sizing: border-box;
}
.modal--match__compare__love .title, .modal--match__compare__hate .title {
  padding-bottom: 10px;
}
.modal--match__compare__love ul, .modal--match__compare__hate ul {
  list-style-position: inside;
  list-style-type: disc;
}
.modal--match__compare__love ul li, .modal--match__compare__hate ul li {
  padding: 5px 5px;
}

.modal--match__compare__love .title {
  color: #21b989;
}

.modal--match__compare__hate .title {
  color: #f3a683;
}

.services {
  text-align: center;
}

.service-categories {
  padding: 20px 40px 40px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #f5f6fa;
}

.service-categories__category {
  display: inline-block;
  width: 25%;
  box-sizing: border-box;
  padding: 20px 40px 40px;
  vertical-align: top;
}
@media (max-width: 1024px) {
  .service-categories__category {
    padding: 20px;
    width: 50%;
  }
}

.service-categories__category__icon {
  font-size: 38px;
  font-size: 2.375rem;
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 50%;
  text-align: center;
  margin: 0 auto 15px;
  color: #f5f6fa;
}

.service-categories__category__name {
  font-size: 22px;
  font-size: 1.375rem;
  font-weight: bold;
  padding-bottom: 30px;
}

.service-categories__category__services {
  display: block;
  border-radius: 5px;
  padding: 5px 10px;
  text-align: left;
  position: relative;
  border: 2px solid #718093;
}
.service-categories__category__services:after {
  content: "";
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: -17px;
  width: 0;
  height: 0;
  border-left: 17px solid transparent;
  border-right: 17px solid transparent;
  border-bottom: 17px solid #f5f6fa;
  clear: both;
}
.service-categories__category__services:before {
  content: "";
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: -20px;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #718093;
  clear: both;
}

.service-categories__category--first .service-categories__category__icon {
  background-color: #778beb;
  background-image: linear-gradient(0deg, #778beb 0%, #4b65e4 100%);
}
.service-categories__category--first .service-categories__category__services {
  border: 2px solid #778beb;
}
.service-categories__category--first .service-categories__category__services:before {
  border-bottom-color: #778beb;
}

.service-categories__category--second .service-categories__category__icon {
  background-color: #f8a5c2;
  background-image: linear-gradient(0deg, #f8a5c2 0%, #f476a2 100%);
}
.service-categories__category--second .service-categories__category__services {
  border: 2px solid #f8a5c2;
}
.service-categories__category--second .service-categories__category__services:before {
  border-bottom-color: #f8a5c2;
}

.service-categories__category--third .service-categories__category__icon {
  background-color: #f3a683;
  background-image: linear-gradient(0deg, #f3a683 0%, #ef8555 100%);
}
.service-categories__category--third .service-categories__category__services {
  border: 2px solid #f3a683;
}
.service-categories__category--third .service-categories__category__services:before {
  border-bottom-color: #f3a683;
}

.service-categories__category--fourth .service-categories__category__icon {
  background-color: #786fa6;
  background-image: linear-gradient(0deg, #786fa6 0%, #5f568c 100%);
}
.service-categories__category--fourth .service-categories__category__services {
  border: 2px solid #786fa6;
}
.service-categories__category--fourth .service-categories__category__services:before {
  border-bottom-color: #786fa6;
}

.service-categories__category__services__item {
  padding: 5px 0;
}
.service-categories__category__services__item span, .service-categories__category__services__item i {
  vertical-align: middle;
}
.service-categories__category__services__item span {
  font-size: 14px;
  font-size: 0.875rem;
}
.services-view-more {
  vertical-align: middle;
  text-align: center;
  font-family: "Abril Fatface", cursive;
  font-size: 52px;
  font-size: 3.25rem;
}

/* _button-theme
===========================================*/
.button-theme {
  display: inline-block;
  font-size: 20px;
  font-size: 1.25rem;
  padding: 5px 5px;
  background-color: #f5f6fa;
  color: #718093;
  border-right: 2px solid #d2d7d3;
  opacity: 0.5;
}
.button-theme:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.button-theme:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-right-width: 0;
}
.button-theme:hover, .button-theme--selected {
  background-color: #f5f6fa;
  color: #718093;
  transition: 0.3s ease-in-out;
  opacity: 0.9;
}

/* _button-flag
===========================================*/
.button-flag {
  display: inline-block;
  text-decoration: none;
  opacity: 0.5;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  border-right: 2px solid #d2d7d3;
}
.button-flag img {
  height: 30px;
  width: auto;
  vertical-align: middle;
}
.button-flag:first-child img {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.button-flag:last-child {
  border-width: 0;
}
.button-flag:last-child img {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.button-flag:hover, .button-flag--selected {
  opacity: 0.9;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.tags {
  display: flex;
  flex-flow: row wrap;
}

.tags--flex .tag {
  flex: 1 auto;
  text-align: center;
}

.tag {
  display: inline-block;
  padding: 3px 5px;
  background-color: #f5f6fa;
  color: #718093;
  font-size: 15px;
  font-size: 0.9375rem;
  vertical-align: middle;
  border-width: 1px;
  border-style: dashed;
  margin: 4px;
  border-radius: 3px;
  font-weight: 500;
}
.tag i {
  font-size: 15px;
  font-size: 0.9375rem;
  padding-right: 5px;
}

.tag-title {
  display: inline-block;
  padding: 3px 5px 3px 0;
  font-size: 13px;
  font-size: 0.8125rem;
  font-weight: bold;
  line-height: 14px;
  vertical-align: middle;
  border: 5px solid transparent;
  border-left-width: 0px;
}

.team {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
}

.team__member-container {
  position: relative;
  display: inline-block;
  width: 33.333%;
  box-sizing: border-box;
  padding: 0 10px 10px;
  margin-bottom: 120px;
}
.team__member-container:nth-child(3n+1):nth-last-child(-n+3), .team__member-container:nth-child(3n+1):nth-last-child(-n+3) ~ .team__member-container {
  margin-bottom: 20px;
}
@media (max-width: 1024px) {
  .team__member-container {
    width: 50%;
  }
  .team__member-container:nth-child(3n+1):nth-last-child(-n+3), .team__member-container:nth-child(3n+1):nth-last-child(-n+3) ~ .team__member-container {
    margin-bottom: inherit;
  }
  .team__member-container:nth-child(2n+1):nth-last-child(-n+2), .team__member-container:nth-child(2n+1):nth-last-child(-n+2) ~ .team__member-container {
    margin-bottom: 20px;
  }
}
@media (max-width: 480px) {
  .team__member-container {
    width: 100%;
  }
  .team__member-container:nth-child(2n+1):nth-last-child(-n+2), .team__member-container:nth-child(2n+1):nth-last-child(-n+2) ~ .team__member-container {
    margin-bottom: inherit;
  }
  .team__member-container:last-child {
    margin-bottom: 20px;
  }
}

.team__member {
  text-align: center;
}

.team__member__picture {
  position: relative;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: -100px auto 0;
}
.team__member__picture:hover .team__member__picture__hover {
  opacity: 1;
  transform: rotate3d(0, 1, 0, -180deg);
}

.team__member__picture__image {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.team__member__picture__border {
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 80%;
  border: 20px solid rgba(255, 255, 255, 0.4);
}

.team__member__picture__hover {
  opacity: 0;
  border-radius: 50%;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  transition: all 1s ease-in-out;
  transform-style: preserve-3d;
}

.team__member__picture__hover__content {
  border-radius: 50%;
  background-color: #1e272e;
  width: 80%;
  height: 80%;
  margin: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate3d(0, 1, 0, -180deg);
  transform-style: preserve-3d;
}

.team__member__picture__hover__content__citation {
  text-align: center;
  color: #f5f6fa;
  padding: 10px;
  font-family: "Abril Fatface", cursive;
}

.team__member__name {
  padding: 10px 0 3px;
  font-size: 16px;
  font-size: 1rem;
  font-weight: bold;
  vertical-align: top;
}
.team__member__name span {
  font-family: "Abril Fatface", cursive;
  font-size: 17px;
  font-size: 1.0625rem;
}

.team__member__role {
  padding: 0;
  font-size: 14px;
  font-size: 0.875rem;
  color: #718093;
}

.team__member__languages {
  padding: 2px 0 0;
}

.team__member__language {
  display: inline-block;
}
.team__member__language img {
  vertical-align: middle;
  height: 20px;
  width: auto;
}

.team__member__location {
  padding: 0 0 5px;
  color: #718093;
  font-size: 14px;
  font-size: 0.875rem;
  display: none;
}

.title {
  font-family: "Abril Fatface", cursive;
  font-size: 32px;
  font-size: 2rem;
}

.form {
  white-space: nowrap;
}

label.label {
  display: block;
  font-weight: bold;
  font-size: 22px;
  font-size: 1.375rem;
  padding: 0 10px 5px;
}

.error label.label {
  color: #e3342f;
}

.form-group {
  white-space: normal;
  padding: 15px 0;
}
.form-group .form-group {
  padding: 0;
  margin: 10px;
}

.form-group--6 {
  display: inline-block;
  width: 50%;
}

.checkboxes {
  display: flex;
  flex-wrap: wrap;
}
.checkboxes .form-group {
  flex-shrink: 0;
  flex-grow: 1;
}

.checkbox {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.checkbox .label {
  padding: 11px 15px;
  border: 2px solid #1e272e;
  transition: 0.6s;
  font-size: 16px;
  font-size: 1rem;
  color: #718093;
  text-align: center;
}

.checkbox input[type=checkbox] {
  display: none;
}

.checkbox .label:hover,
.checkbox input:checked + .label {
  border-color: #21b989;
  box-shadow: inset 350px 0 0 0 #21b989;
  color: #1e272e;
}

input {
  outline: none;
  resize: none;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
  font-size: 1rem;
  border: 2px solid #1e272e;
  background-color: transparent;
  width: calc(100% - 20px);
  margin: 10px;
}
input::-webkit-input-placeholder {
  color: #718093;
  opacity: 1;
}
input::-moz-placeholder {
  color: #718093;
  opacity: 1;
}
input:-ms-input-placeholder {
  color: #718093;
  opacity: 1;
}
input::-ms-input-placeholder {
  color: #718093;
  opacity: 1;
}
input::placeholder {
  color: #718093;
  opacity: 1;
}

.error input {
  border-color: #e3342f;
}

textarea {
  outline: none;
  resize: none;
  box-sizing: border-box;
  width: calc(100% - 20px);
  margin: 10px;
  height: 250px;
  padding: 10px;
  font-size: 16px;
  font-size: 1rem;
  border: 2px solid #1e272e;
  background-color: transparent;
}
textarea::-webkit-input-placeholder {
  color: #718093;
  opacity: 1;
}
textarea::-moz-placeholder {
  color: #718093;
  opacity: 1;
}
textarea:-ms-input-placeholder {
  color: #718093;
  opacity: 1;
}
textarea::-ms-input-placeholder {
  color: #718093;
  opacity: 1;
}
textarea::placeholder {
  color: #718093;
  opacity: 1;
}

.error textarea {
  border-color: #e3342f;
}

.form-button-container {
  background-color: #1e272e;
  display: block;
  width: calc(100% - 20px);
  margin: 10px;
  padding: 2px;
  box-sizing: border-box;
}

.form-button {
  background-color: #f5f6fa;
  padding: 10px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 20px;
  font-size: 1.25rem;
}
.form-button:hover {
  cursor: pointer;
  background-color: #21b989;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
* Filename:     home.scss
* Description:  Homepage css
* Author:       beSuavy (https://suavy.be)
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.home__row {
  position: relative;
  padding: 30px 60px;
}
@media (max-width: 1024px) {
  .home__row {
    padding: 10px 15px;
  }
}

.home__row--map {
  text-align: center;
}
@media (max-width: 1024px) {
  .home__row--map {
    background-image: none;
  }
}

.home__row--below-map {
  padding-bottom: 120px;
}

.home__row--above-team {
  padding-bottom: 160px;
}

.home__row--team {
  padding: 0 0 40px !important;
}

.home__row--contact {
  padding: 60px;
}

/*
.home__row--clients {
    .title {
        text-align: center;
        padding-bottom: 20px;
    }
}*/
.footer {
  text-align: center;
  margin: 0 auto;
  padding: 20px 0 40px;
}
.footer:before {
  content: " ";
  display: block;
  width: 180px;
  height: 1px;
  background-color: #1e272e;
  margin: 0 auto 20px;
}

.footer__links {
  padding-bottom: 10px;
}
.footer__links li {
  display: inline-block;
  padding: 5px 10px;
}

.footer__about {
  font-size: 17px;
  font-size: 1.0625rem;
  font-weight: bold;
}

.header {
  padding: 20px 80px 10px;
  margin: 0 auto;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  z-index: 1000;
}
@media (max-width: 1024px) {
  .header {
    padding: 10px 15px;
  }
}

.header__logo {
  display: inline-block;
  width: 50%;
  text-align: left;
  vertical-align: middle;
  font-family: "Abril Fatface", cursive;
  color: #f8a5c2;
  font-size: 36px;
  font-size: 2.25rem;
}
.header__logo span {
  color: #f5f6fa;
}

.header__nav {
  display: inline-block;
  width: 50%;
  text-align: right;
  vertical-align: middle;
}

.header__nav__item {
  display: inline-block;
  vertical-align: bottom;
  padding-left: 10px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
* Filename:     _night.scss
* Description:  Night mode theme of Suavy Website
* Author:       Christophe DO OUTEIRO
*** INDEX: ************************************************************
*
*
*
*
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
body.night {
  /* _base
  ===========================================*/
  background-color: #1e272e;
  color: #f5f6fa;
  /* _header
  ===========================================*/
  /* _form
  ===========================================*/
  /* _map
  ===========================================*/
  /* _client
  ===========================================*/
  /* _services
  ===========================================*/
}
body.night .link {
  color: #f5f6fa;
}
body.night .link--underline {
  -webkit-text-decoration-color: rgba(245, 246, 250, 0.5);
          text-decoration-color: rgba(245, 246, 250, 0.5);
}
body.night .link--underline:hover {
  -webkit-text-decoration-color: #f5f6fa;
          text-decoration-color: #f5f6fa;
}
body.night .header__logo {
  color: #f6e58d;
}
body.night .header__logo span {
  color: #1e272e;
}
body.night .checkbox .label,
body.night input,
body.night textarea {
  border-color: #f5f6fa;
}
body.night .map-title {
  color: #1e272e;
}
body.night .map-svg path {
  fill: rgba(30, 39, 46, 0.7);
  stroke: #1e272e;
}
body.night .map-marker__button {
  background-color: #1e272e;
  color: #1e272e;
  border-color: #1e272e !important;
}
body.night .map-marker__button.pulse:after {
  box-shadow: 0 0 1px 2px #1e272e;
}
body.night .client img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}
body.night .service-categories {
  background-color: #1e272e;
}
body.night .service-categories__category__services:after {
  border-bottom: 17px solid #1e272e;
}