.clients-title {
    font-family: $titleFont;
    @include font-size(36px);
    text-align: center;
    padding-bottom: 20px;
    color: $pureBlack;
}
.clients {
    display: flex;
    flex-wrap: wrap;
    //justify-content: flex-start;
    justify-content: space-around;
    align-items: stretch;
}

.client {
    padding: 20px;
    img {
        width: auto;
        height: 45px;
        filter: brightness(0);
        &:hover {
            cursor: crosshair;
            filter: none;
        }
    }
}
