.contact--check {
    text-align: center;
    i {
        @include font-size(200px);
        color: $secondaryColor;
        line-height: 369px;
    }
    @include media('tablet-large') {
        i {
            @include font-size(100px);
            line-height: 211px;
        }
    }
}

.contact {
    max-width: 1150px;
    margin: 0 auto;
    min-height: 400px;
}

.contact__form {
    background-color: transparent;
    position: relative;
    margin: 10px;
    padding: 10px;
    @include border-radius(20px);
    z-index: 4;
    transition: all 1s ease-in-out;
}
.contact__form--mini {
    transform: scale(.5);
    margin-top: -200px;
    @include media('tablet-large') {
        #message-wrapper, .form-button-container {
            display: none;
        }
        label.label {
            font-size: 10px;
            @include font-size(12px);
        }
    }
}

.contact__form--below {
    z-index: 2;
    transform: scale(.20) translateY(3200px);
    margin-top: -950px;
    @include media('tablet-large') {
        transform: scale(.18) translateY(2000px);
        margin-top: -540px;
    }
}

.contact__letter-box {
    width: 600px;
    height: 300px;
    z-index: 3;
    margin: 0 auto;
    @include border-radius(10px);
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.3s ease-out;
    @include media('tablet-large') {
        width: 300px;
        height: 150px;
        @include border-radius(5px);
    }
}

.contact__letter-box__front {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    &:before, &:after{
        content: '';
        position: absolute;
        width: 0;
        height: 0;
    }
    &:before{
        border-right: 600px solid transparent;
        border-bottom: 300px solid lighten($primaryColor, 10%);
        @include media('tablet-large') {
            border-right-width: 300px;
            border-bottom-width: 150px;
        }
    }
    &:after{
        border-left: 600px solid transparent;
        border-bottom: 300px solid $primaryColor;
        @include media('tablet-large') {
            border-left-width: 300px;
            border-bottom-width: 150px;
        }
    }
}

.contact__letter-box__top {
    position: absolute;
    width: 100%;
    height: 58%;
    @include media('tablet-large') {
        height: 62%;
    }
    border-radius: 10px;
    overflow: hidden;
    transform-style: preserve-3d;
    transform-origin: center bottom;
    transform: translateY(-98%);
    transform: translateY(-98%) rotateX(175deg);
    transition: all 0.6s 0.3s ease-out;
    &:before{
        content: '';
        width: 0;
        height: 0;
        border-right: 300px solid transparent;
        border-left: 300px solid transparent;
        border-bottom: 157px solid $secondaryColor;
        @include media('tablet-large') {
            border-right-width: 150px;
            border-left-width: 150px;
            border-bottom-width: 76px;
        }
    }
}

.contact__letter-box--open {
    .contact__letter-box__top {
        transform: translateY(-99%);
    }
    &:after {
        content: ' ';
        position: absolute;
        background-color: $white;
        height: 30px;
        width: 100%;
        bottom: -30px;
        left: 0;
    }
}

.contact__letter-box--close {
    .contact__letter-box__top {
        transform: translateY(-100%) rotateX(-175deg);
    }
}

.form-group {
    color: $white;
    font-weight: normal;
}

.checkbox .label {
    color: $white !important;
    border: 2px solid $white !important;
    font-family: 'M PLUS 1p', sans-serif !important;
    text-transform: uppercase !important;
    letter-spacing: 2px !important;
    font-size: 13.5px !important;
    padding: 13px !important;
    &:hover {
        color: #05060a !important;
        border: 2px solid $secondaryColor !important;
    }
}

input {
    border: 2px solid $white !important;
}

textarea {
    border: 2px solid $white !important;
}

.form-button {
    transition: all .3s;
    &:hover {
        transition: all .3s;
    }
}
