.contact {
    max-width: 1150px;
    margin: 0 auto;
}

.contact__form {
    background-color: $green;
    position: relative;
    margin: 10px;
    padding: 10px;
    z-index: 4;
    transition: all .2s ease-in-out;
}
.contact__form--mini {
    transform: scale(.8);
}
.contact__form--put{
    transform: scale(.4) translateY(1800px);
    margin-top: -1000px;
}
.contact__form--below {
    z-index: 2;
}

.contact__letter-box--up{
    transform: translateY(-600px);
}


.contact__letter-box {
    width: 100%;
    height: 600px;
    z-index: 3;
    //margin: 350px auto 0;
    border-radius: 10px;
    position: relative;
    transform-style: preserve-3d;
    //opacity: 0;
    //transform: scale(0.5);
    transition: all 0.3s ease-out;
}

.contact__letter-box__front {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    &:before, &:after{
        content: '';
        position: absolute;
        width: 0;
        height: 0;
    }
    &:before{
        border-right: 1150px solid transparent;
        //border-bottom: 600px solid #4a6cc7;
        border-bottom: 600px solid $purple;
    }
    &:after{
        border-left: 1150px solid transparent;
        //border-bottom: 600px solid #3e60b6;
        border-bottom: 600px solid $yellow;
    }
}

.contact__letter-box__top {
    position: absolute;
    width: 100%;
    height: 58%;
    border-radius: 10px;
    overflow: hidden;
    transform-style: preserve-3d;
    transform-origin: center bottom;
    transform: translateY(-98%);
    transform: translateY(-98%) rotateX(175deg);
    transition: all 0.6s 0.3s ease-out;
    &:before{
        content: '';
        width: 0;
        height: 0;
        border-right: 575px solid transparent;
        border-left: 575px solid transparent;
        //border-bottom: 330px solid #284083;
        border-bottom: 330px solid $orange;
    }
}

.contact__letter-box--open {
    .contact__letter-box__top {
        transform: translateY(-99%);
    }
}

.contact__letter-box--close {
    .contact__letter-box__top {
        transform: translateY(-100%) rotateX(-175deg);
    }
}
