.map-row {
    background-color: $green;
    position: relative;
    width: 100%;
}

.map-col {
    display: inline-block;
    width: 50%;
    position: relative;
    vertical-align: middle;
    @include media('screen-small') {
        display: block;
        width: 100%;
    }

}

.map-title {
    font-family: $titleFont;
    color: $white;
    @include font-size(36px);
    line-height: 48px;
    padding-left: 80px;
    box-sizing: border-box;
    text-align: justify;
    span {
        color: $yellow;
    }
    @include media('screen-small') {
        padding: 70px 0 20px;
        text-align: center;
        @include font-size(28px);
        line-height: 36px;
    }
}

.map-container {
    width: 100%;
    padding: 33% 0;
    overflow: hidden;
}

.map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.map-svg {
    position: absolute;
    top: 0;
    left: -5%;
    width: 100%;
    @include media('screen-small') {
        top: 0;
        left: 0;
        width: 100%;
    }
    height: auto;
    path {
        fill: $white;
        fill-opacity: 1;
        stroke:$white;
        stroke-opacity: 1;
        stroke-width:1;
        transition: .6s fill;
        &:hover {

        }
    }
    path#FR, path#BR, path#PT {
        fill: $yellow;
        cursor: pointer;
        &:hover {
            //fill: $blue;
        }
    }
}

.map-marker {
    cursor: pointer;
    position: absolute;
    width: 10px;
    height: 10px;
    @include border-radius(50%);
    background-color: $gray;
    &:hover {
        //background-color: $red;
    }
}

.map-marker--france {
    top: 46.8%; left: 42.3%;
}

.map-marker--brazil {
    top: 78%; left: 30%;
}

.map-marker--portugal {
    top: 51.2%; left: 39.4%;
}
