.services-more {
    background-color: $newColor;
    padding: 75px;
    opacity: 1;
    transition: all 1.5s ease;
    max-height: 10000px;
    @include media('tablet-large') {
        padding: 75px 15px;
    }
}

.services-more__title {
    color: white;
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 45px;
    text-align: center;
}

.services-more__description {
    color: white;
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin: 35px 16px;
    line-height: 163%;
}

.services-more.invisible {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    padding: 0;
    transition: all 1.5s ease;
}

.services-category {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    text-align: center;
}

.services-categories {
    flex: 0 0 33.33333%;
    display: block;
    text-align: center;
    @include media('tablet-large') {
        flex: 0 0 100%;
        margin: 0 auto;
    }
}

.services-categories__title {
    text-align: center;
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
}

.services-categories__description {
    font-family: 'M PLUS 1p', sans-serif;
    text-align: center;
    color: white;
    font-weight: lighter;
    margin: 16px 70px 70px;
    line-height: 163%;
    @include media('tablet-large') {
        margin: 16px 20px 70px;
    }
}

.design, .api, .marketing {
    color: #F67110;
}

.webdev, .mobile, .data {
    color: #29F0B5;
}

.services-avatar {
    margin: auto;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: solid 1px #2C1F42;
    background-color: #150D2D;
    font-size: 32px;
    & i {
        line-height: 70px;
        margin: auto;
    }
}

.send-message {
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 400;
    background-color: transparent;
    color:#F64467;
    border-radius: 30px;
    padding: 20px 50px;
    border: 2px solid #F64467;
    font-size: 14px;
    letter-spacing: 2px;
    transition: all .3s;
    &:hover {
        cursor: pointer;
        background-color: #F64467;
        color: white;
        transition: all .3s;
        font-weight: 500;
    }
}

.button-div {
    display: flex;
    margin: auto;
    justify-content: center;
}

// .show-services {
//     font-family: 'M PLUS 1p', sans-serif;
//     background-color: #F64467;
//     color: white;
//     border-radius: 30px;
//     padding: 20px 50px;
//     border: none;
//     font-size: 14px;
//     letter-spacing: 2px;
//     &:hover {
//         cursor: pointer;
//     }
// }