.services-more {
    background-color: $newColor;
    padding: 100px 25px;
    & h2 {
        color: white;
        font-family: 'M PLUS 1p', sans-serif;
        font-size: 45px;
        text-align: center;
    }
    & h3 {
        color: white;
        font-family: 'M PLUS 1p', sans-serif;
        font-weight: bold;
        font-size: 18px;
        text-align: center;
        margin: 18px 0%;
        line-height: normal;
    }
    opacity: 1;
    transition: all 1.5s ease;
}

.services-more.invisible {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    padding: 0;
    transition: all 1.5s ease;
}

.services-category {
    display: flex;
    flex-wrap: wrap;
    padding: 60px 15px;
    text-align: center;
    justify-content: center;
}

.services-categories {
    flex: 0 0 33.33333%;
    display: block;
    text-align: center;
    & h3 {
        text-align: center;
        // color: #29F0B5;
        font-family: 'M PLUS 1p', sans-serif;
    }
    & p {
        font-family: 'M PLUS 1p', sans-serif;
        text-align: center;
        color: white;
        font-weight: lighter;
        margin: 16px 70px 70px;
        line-height: 180%;
    }
}

.services-categories__design {
    & h3 {
        color: #29F0B5;
    }
}

.services-categories__api {
    & h3 {
        color: #F67110;
    }
}

.services-categories__webdev {
    & h3 {
        color: #29F0B5;
    }
}

.services-categories__mobile {
    & h3 {
        color: #F67110;
    }
}

.services-categories__data {
    & h3 {
        color: #29F0B5;
    }
}

.services-categories__marketing {
    & h3 {
        color: #F67110;
    }
}

.services-avatar {
    margin: auto;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: solid 1px #2C1F42;
    background-color: #150D2D;
    font-size: 32px;
    // color: #29F0B5;
    & i {
        line-height: 70px;
        margin: auto;
    }
}

.services-avatar__design {
    color: #29F0B5
}

.services-avatar__api {
    color: #F67110;
}

.services-avatar__webdev {
    color: #29F0B5;
}

.services-avatar__mobile {
    color: #F67110;
}

.services-avatar__data {
    color: #29F0B5;
}

.services-avatar__marketing {
    color: #F67110;
}

.send-message {
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 400;
    background-color: transparent;
    color:#F64467;
    border-radius: 30px;
    padding: 20px 50px;
    border: 2px solid #F64467;
    font-size: 14px;
    letter-spacing: 2px;
    transition: all .3s;
    &:hover {
        cursor: pointer;
        background-color: #F64467;
        color: white;
        transition: all .3s;
        font-weight: 500;
    }
}

.button-div {
    display: flex;
    margin: auto;
    justify-content: center;
}

// .show-services {
//     font-family: 'M PLUS 1p', sans-serif;
//     background-color: #F64467;
//     color: white;
//     border-radius: 30px;
//     padding: 20px 50px;
//     border: none;
//     font-size: 14px;
//     letter-spacing: 2px;
//     &:hover {
//         cursor: pointer;
//     }
// }