.projects {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
}

.project {
    background-color: $gray;
    width: 600px;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
}

.project__name {
    @include font-size(18px);
    background-color: $yellow;
}

.project__features {
    background-color: $pink;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
}

.project__features__item {
    @include border-radius(8px);
    box-sizing: border-box;
    padding: 5px 8px;
    position: relative;
    @include font-size(13px);
    &:hover {
        user-select: none;
        cursor: pointer;
        color: $black;
        background-color: $yellow;
        background-image: linear-gradient(135deg, $yellow 0%, darken($yellow, 5%) 100%);
    }
}
