.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
}

.services-title {
    padding: 10px 10px 20px;
}

.service {
    @include border-radius(8px);
    box-sizing: border-box;
    padding: 10px;
    margin: 10px 10px 0 0;
    position: relative;
    &:hover {
        user-select: none;
        cursor: pointer;
        color: $black;
        background-color: $yellow;
        background-image: linear-gradient(135deg, $yellow 0%, darken($yellow, 5%) 100%);
    }
}

.service__content {
    //font-family: $titleFont;
    @include font-size(20px);
    line-height: 24px;
    //font-weight: bold;
    //vertical-align: middle;
}
