.services {
    position: relative;
}

.service {
    width: 300px;
    padding: 30px 20px;
    box-sizing: border-box;
    margin: 10px;
    display: inline-block;
    background-color: transparentize($gray, 0.5);
    text-align: center;
    @include border-radius(5px);
    vertical-align: top;
}

.service__icon {
    @include font-size(48px);
}

.service__name {
    font-family: $titleFont;
    @include font-size(20px);
    line-height: 24px;
    min-height: 72px;
    font-weight: bold;
    padding-top: 10px;
    vertical-align: middle;
}
