/* _button-theme
===========================================*/
.buttons-theme {

}

.button-theme {
    display: inline-block;
    @include font-size(20px);
    padding: 5px 5px;
    background-color: $white;
    color: $metal;
    border-right: 2px solid $lightgray;
    opacity: 0.5;
    &:first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    &:last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-right-width: 0;
    }
    &:hover, &--selected {
        background-color: $white;
        color: $metal;
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
        opacity: 0.9;
    }
}

/* _button-flag
===========================================*/
.buttons-flag {

}

.button-flag {
    display: inline-block;
    text-decoration: none;
    opacity: 0.5;
    filter: grayscale(100%);
    border-right: 2px solid $lightgray;
    img {
        height: 30px;
        width: auto;
        vertical-align: middle;

    }
    &:first-child img {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    &:last-child {
        img {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
        border-width: 0;
    }
    &:hover, &--selected {
        opacity: 0.9;
        filter: grayscale(0%);
    }
}
