.team {
    background-color: $gray;
    position: relative;
}

.team__member-container {
    position: relative;
    background-color: $white;
    display: inline-block;
    width: 20%;
    @include media('screen-large') {
        width: 33.333%;
        //border-bottom: 2px solid $white;
    }
    @include media('screen-small') {
        width: 50%;
        //border-bottom: 2px solid $white;
    }
    box-sizing: border-box;
    border: 3px solid $gray;
    padding: 10px;
}

.team__member {
    text-align: center;
}

.team__member__picture {
    padding-bottom: 10px;
    img {
        @include border-radius(50%);
        width: 80px;
    }
}

.team__member__name {
    @include font-size(18px);
    span {
        font-family: $titleFont;
    }
}

.team__member__role {
    color: $green;
    @include font-size(14px);
}

.team__member__speak {

}

.team__member__speak__language {
    display: inline-block;
    img {
        height: 24px;
        width: auto;
    }
}

.team__member__location {

}
