.checkbox {
    user-select: none;
    cursor: pointer;
}

.checkbox .label {
    padding: 10px;
    border: 1px solid $black;
    &:hover {
        //background-color: $green;
    }
}

.checkbox input[type="checkbox"] {
    display: none;
}

.checkbox input:checked + .label {
    background-color: $red;
}
