.checkboxes {
    display: flex;
    flex-wrap: wrap;
    //align-content: stretch;
    //align-items: stretch;
    .form-group {
        flex-shrink: 0;
        flex-grow: 1;
    }
}

.checkbox {
    user-select: none;
    cursor: pointer;
}

.checkbox .label {
    padding: 11px 15px;
    border: 2px solid $black;
    transition: 0.6s;
    @include font-size(16px);
    color: $gray;
    font-weight: bold;
    text-align: center;
}

.checkbox input[type="checkbox"] {
    display: none;
}

.checkbox .label:hover,
.checkbox input:checked + .label {
    //border-color: $green;
    box-shadow: inset 350px 0 0 0 $green;
    color: $black;
    //box-shadow: 0 5px 5px -4px $green;
    //transform: translateY(-2px);
}
