body.night {
    background-color: $black;
    color: $white;
    .link { color: $white; }
    .link--underline {
        text-decoration-color: transparentize($white, 0.5);
        &:hover { text-decoration-color: $white; }
    }
}
