/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
* Filename:     _night.scss
* Description:  Night mode theme of Suavy Website
* Author:       Christophe DO OUTEIRO
*** INDEX: ************************************************************
*
*
*
*
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
body.night {
    /* _base
    ===========================================*/
    background-color: $black;
    color: $white;
    .link { color: $white; }
    .link--underline {
        text-decoration-color: transparentize($white, 0.5);
        &:hover { text-decoration-color: $white; }
    }

    /* _header
    ===========================================*/
    .header__logo {
        span {
            color: $black;
        }
    }
    /* _form
    ===========================================*/
    .contact__form {
        background-color: lighten($black, 5%);
    }
    .checkbox .label,
    input,
    textarea {
        border-color: $white;
    }

    /* _map
    ===========================================*/
    .map-title {
        color: $black;
    }

    .map-svg {
        path {
            fill: transparentize($black, 0.5);
            stroke:$black;
        }
    }
    $nightMarkerColor: $black;
    .map-marker {
        &__button {
            background-color: $nightMarkerColor;
            color: $nightMarkerColor;
            border-color: $nightMarkerColor !important;
        }
        &__button.pulse:after {
            box-shadow: 0 0 1px 2px $nightMarkerColor;
        }
    }
    .map-pulse {
        &:after {
            box-shadow: 0 0 1px 2px $nightMarkerColor;
        }
    }

    /* _team
    ===========================================*/
    .team__member__role {
        color: $lightgray;
    }

    /* _client
    ===========================================*/
    .client img { filter: brightness(0) invert(0); }

    /* _services
    ===========================================*/
    .service-categories {
        background-color: $black;
    }
    .service-categories__category__services {
        &:after {
            border-bottom: 17px solid $black;
        }
    }
}


